<div id="container">
  <div id="header">
    <h1><strong>{{ title }}</strong></h1>
  </div>
  <div id="navbar">
    <nav>
      <div>
        <ul class="navbar-nav flex-row">
          <li class="nav-item col-4 col-md-auto">
            <a>About me</a>
          </li>
          <li class="nav-item col-4 col-md-auto">
            <a>Backend</a>
          </li>
          <li class="nav-item col-4 col-md-auto">
            <a>Frontend</a>
          </li>
          <li class="nav-item col-4 col-md-auto">
            <a>All the rest</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
  <div id="content" class="row justify-content-center">
    <div class="inner-content row">
      <div id="about-me" class="mt-5 break-text">
        <p>{{ aboutMe }}</p>
      </div>
      <div id="my-image" class="mt-5 ml-auto"></div>
    </div>
  </div>
</div>
<footer>
  <div>
      {{ footer }}
  </div>
</footer>
